@import "./color.scss";

$btn-md: 36px;
$btn-sm: 32px;

@mixin btn-primary-md() {
  height: $btn-md;
  color: $background;
  background-color: $btn-color-primary;
  box-shadow: none;
  line-height: $btn-md;

  &:hover {
    background-color: $btn-color-primary-hover;
  }
}

@mixin btn-normal-md() {
  height: $btn-md;
  border: none;
  color: $font-color-primary;
  background-color: $btn-color;
  box-shadow: none;
  line-height: $btn-md;

  &:hover {
    background-color: $btn-color-hover;
  }
}

@mixin btn-icon-sm() {
  height: $btn-sm;
  padding-right: 6px;
  padding-left: 6px;
  border: none;
  color: $font-color-primary;
  background-color: $btn-color;
  box-shadow: none;
  line-height: $btn-sm;

  .icon {
    padding-top: 6px;
    font-size: 20px;
  }

  &:hover {
    background-color: $btn-color-hover;
  }
}

@mixin btn-disabled-md() {
  height: $btn-md;
  border: none;
  color: $btn-disabled-text;
  background-color: $btn-disabled;
  box-shadow: none;
  line-height: $btn-md;
}

@mixin btn-disabled-sm() {
  @include btn-disabled-md();

  height: $btn-sm;
  line-height: $btn-sm;
}

@mixin btn-normal-sm() {
  @include btn-normal-md();

  height: $btn-sm;
  line-height: $btn-sm;
}

@mixin btn-primary-sm() {
  @include btn-primary-md();

  height: $btn-sm;
  line-height: $btn-sm;
}

@mixin btn-breadcrumb-sm() {
  border: none;
  color: $font-color-primary;
  box-shadow: none;
  font-size: $font-size-subtitle;
  height: $btn-sm;
  padding: 0 8px;
  margin-left: -8px;


  &:hover {
    background-color: $btn-color-hover;
  }
}
