$background: #fff;
$background-input: #fff;
$selected-color: #4592f6;
$bord-color-light: #d8d8d8;
$bord-color-card: #e8e9e9;
$display-text-color: #666666;
$mask-color: rgba(30, 35, 41, 0.5);

$font-color-primary: #333;
$font-color-comment: #999;
$font-color-active: #1a7afb;

$btn-color-primary: #1a7afb;
$btn-color-primary-hover: #369bff;
$btn-color: #f3f4f4;
$btn-color-hover: #e8e9e9;
$btn-disabled: rgba(26, 122, 251, 0.4);
$btn-disabled-text: white;

$input-border-color: #cecece;
$input-border: 1px solid $input-border-color;
